.profile-page{
  @apply bg-white h-full text-gray-800 pt-20 px-4 pb-10; 
}

.profile-page > .buttons-sec{
  @apply flex justify-start my-3;
}

.profile-page > section{
  @apply bg-gray-100 px-10 py-12 shadow-lg rounded-3xl my-10;
}

.profile-page h5{
  @apply font-medium text-lg;
}

.profile-page h3{
  @apply font-semibold text-2xl;
}

.redeem-section{
  @apply flex mt-5 h-52;
}

.redeem-card{
  @apply h-40 w-32 rounded-xl mx-3 my-auto flex justify-center items-center
   text-gray-400 bg-white relative overflow-hidden 
   transition-all duration-500 ease-in-out;
}

.redeem-card.selected{
  @apply h-44 w-36 ;
}

.redeem-card .grad{
  @apply z-0 w-full h-full absolute left-0 top-0 bg-gradient-to-t from-purple-700 via-blue-800 to-blue-500 ;
}

.redeem-card > .content{
  @apply z-10 flex flex-col justify-center items-center 
  transition-all duration-300 ease-in;
}

.redeem-card > .content > span{
  @apply transition-all duration-300 ease-in-out;
}

.redeem-card > .content > span:nth-child(1){
  @apply text-2xl font-bold;
}

.redeem-card.selected > .content > span:nth-child(1){
  @apply text-3xl text-gray-200;
}

.redeem-card > .content > span:nth-child(2){
  @apply text-blue-300 text-xs;
}

.redeem-card.selected > .content > span:nth-child(2){
  @apply text-gray-200 text-sm;
}

.redeem-card.selected > .content > svg{
  @apply text-gray-200 h-6 w-6 transition-all duration-300 ease-in-out;
}